<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action="" method="post">
        <p>
	    <label for="zone">Выберите станцию</label>
	    <select name = "zone" id = "method_cipher">
                <option value="zone1">Станция1</option>
                <option value="zone2">Станция2</option>
				<option value="zone3">Станция3</option>
                <option value="zone4">Станция4</option>
                <option value="zone5">Станция5</option>
                <option value="zone6">Станция6</option>
                <option value="zone7">Станция7</option>
                <option value="zone8">Станция8</option>
                <option value="zone9">Станция9</option>
            </select>

	</p>
	<p>
	    <label for="feature">Выберите причину </label>
		<select name = "feature" id = "feature">
                <option value="feature1">Причина1</option>
                <option value="feature2">Причина2</option>
                <option value="feature3">Причина3</option>
                <option value="feature4">Причина4</option>
                <option value="feature5">Причина5</option>
                <option value="feature6">Причина6</option>
                <option value="feature7">Причина7</option>
                <option value="feature8">Причина8</option>
                <option value="feature9">Причина9</option>
            </select>
	</p>


	<label for="start">Выберите дату:</label>

	<input type="date" id="start" name="trip-start"
		   value="2020-06-26"
		   min="2018-01-01" max="2021-12-31">

<p>
	    <label for="part">Выберите смену </label>
		<select name = "part" id = "part">
                <option value="part1">Утренняя</option>
                <option value="part2">Дневная</option>
                <option value="part3">Вечерняя</option>
                <option value="part4">Ночная</option>
            </select>
	</p>
 <p>

	    <input type="submit" red>
	</p>
		</form>
</body>
</html>